:root {
    /* CSS HEX Palette*/
    --rhythm: #7c7287ff;
    --opal: #9dc0bcff;
    --magic-mint: #b2edc5ff;
    --aero-blue: #baffdfff;
    --light-cyan: #d6fff6ff;
}

@font-face {
    font-family: 'B612Mono';
    src: url('B612Mono-Regular.ttf') format('truetype');
}
  

body {
    font-family: 'B612Mono' !important;
}

.main-container {
    margin-top: 10px;
}

.navbar {
    background-color: var(--opal);
    border-style: double;
}

.navbar div {
    place-content: center;
}

.title {
    font-size: x-large;
}
